body {
    background-color: black;
    color: white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
}

header nav {
    display: flex;
    justify-content: space-around;
}

#superman-banner  {
    background-image: url("./assets/Supermanflying.png");
    height: 600px;;
}


.superhero_text{
    border: 2px;
    border-color: aqua;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    text-shadow: 10px;

}

#batman-banner {
    background-image: url("./assets/Batman\ landscape\ wallpaper.jpeg");
    height: 600px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    

}

footer a{
    color: white;
    text-decoration: none;
    font-weight: 10;
}

footer{
    background-color:black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}